/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.clams-img {
	width: 800px;
    margin: 30pt auto;
}

.survey-img {
	margin: 20pt auto;
}

.dl-horizontal dt {
    width: 200px;
}

  .dl-horizontal dd {
    margin-left: 220px;
  }